.navbar {

    height: 70px;

    background: white;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 30px;

    border-bottom: 1px solid #ddd;

    box-shadow: 0 2px 8px rgba(0,0,0,0.05);

}

.logo {

    color: #2563eb;

    font-size: 28px;

}

.nav-right {

    display: flex;

    align-items: center;

    gap: 20px;

}

.username {

    font-weight: 600;

}

.logout-btn {

    background: #ef4444;

    color: white;

    border: none;

    padding: 10px 18px;

    border-radius: 8px;

    cursor: pointer;

}

.logout-btn:hover {

    background: #dc2626;

}